/*<title-bar>*/

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.title-bar span {
  font-size: 30px;
  font-weight: 600;
}

.title-bar i {
  margin: 10px;
}

.title-bar a {
  text-decoration: none;
  color: inherit;
}

/*</title-bar>*/
